<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <div class="clearfix">
    <%= label_tag :username %>
    <div class="input">
      <%= text_field_tag :username, params[:username] %>
    </div>
  </div>
  <div class="clearfix">
    <%= label_tag :password %>
    <div class="input">
      <%= password_field_tag :password %>
    </div>
  </div>
  <div class="clearfix">
    <%= content_tag :label do %>
      Remember me
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    <% end %>
  </div>
  <div class="actions"><%= submit_tag "Log in", :class => "btn" %></div>
<% end %>
