<!DOCTYPE html>
<html>
<head>
  <title>Will It Freeze Tonight? <%= @location %> </title>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/base/jquery-ui.css" type="text/css" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>
<body>
<div class="container">
  <div class="nav_bar">
    <% if current_user %>
      Logged in as <%= current_user.username %>
      <%= link_to "Log out", logout_path %>
      <% if current_user.stripe_customer_token == nil && current_user.subscription == 0 %>
          <%= link_to "Subscribe", new_subscription_path, :class => "label success"  %>
      <% end %>
      
      <% if current_user.stripe_customer_token != nil && current_user.subscription == 0 %>
        <%= link_to "Resubscribe", resubscribe_path, :class => "label success" %>
      <% end %>

      <% if current_user.stripe_customer_token != nil && current_user.subscription != 0 %> 
        <%= link_to "Unsubscribe", unsubscribe_path, :class => "label" %>
      <% end %>
    <% else %>
      <%= link_to "Sign up", signup_path %> or
      <%= link_to "Log in", login_path %>
    <% end %>
  </div>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}", :class => 'alert-message center' %>
  <% end %>
  <%= yield %>
</div>
	  <script type="text/javascript">

	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-437095-3']);
	    _gaq.push(['_trackPageview']);

	    (function() {
	      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
	  </script>
</body>
</html>
